:root {
  --font-family: "Stalinist One", sans-serif;
  --font-weight: 400;
  --font-weight-bold: 700;
  --font-style: normal;
  --font-style-italic: italic;
  --color: #383838;
  --primary: rgb(17, 17, 17);
  --gray-1: #2f3640;
  --gray-2: #efefef;
  --background-color1: #c0a39f;
  --background-color2: #a9bab6;
  --background-color3: #dcb9ea;
  --background-color4: #96bcfd;
  --background-content: #ebedec;
  --text-color: #050505;
  --nav-hover: #ebe7e4;
  --nav-background: #edd2bf;
}
