.main {
  background-image: url("../../assets//images/backgroundImage.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background-color3);
  padding: 2% 2%;
  display: flex;
}
